body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #b5e7ff;
    color: #b5e7ff;
}

header {
    background-color: #0160D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #AAB624;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn:hover {
    background-color: white
}

#hero {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 10px;
}

section {
    background-color: #0160D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 10px;
}

.card {
    background-color: #0160D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 10px;
    border: 2px solid white;
    max-width: 300px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1 / 1;
}

@media screen and (min-width:768px) {
    #testimonials {
        display: flex;
        flex-direction: row;   
    }

    .card {
        min-width: 150px;
    }
}