/* 
Deep Sky Blue – #0160D6
Surf Blue – #00AAF8
Orange Red – #F13B13
Lawn Green – #AAB624
Faint Gray – #F0ECE9
*/
body {
    font-family: 'Noto Sans', sans-serif;
    background-color:  #b5e7ff;
    color: #b5e7ff;
  }

header {
    background-color: #0160D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.quiz-container {
    background-color: #0160D6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 10px;
}

.location-details {
    background-color: #0160D6;
    margin-top: 10px;
    border-radius: 0.5rem;
    padding: 1rem;
}

@media screen and (min-width:768px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .location-details {
        max-width: 50%;
    }

    .category-container {
        max-width: 50%;
    }
}

a {
    text-decoration: none;
    color: aliceblue;
}

#category-container {
    border-radius: 0.5rem;
    padding: 0.05rem 0.25rem;
    max-width: 500px;
}

.category {
    background-color: #00AAF8;
    border-radius: 0.5rem;
    color: #003d88;
}

li:hover {
    background-color: #0160D6;
    color: white;
    font-weight: 700;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
}

h3 {
    text-align: center;
    font-weight: 700;
    padding: 0.5rem 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    padding: 0.5rem;
}

.btn {
    background-color: #AAB624;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn:hover {
    background-color: white
}

form {
    display: flex;
    gap: 10px;
}