/* random stock photo */
/* 
rgb(245, 230, 202) - background color (tan)
rgb(251, 147, 0) - accent #1 (orange)
rgb(245, 71, 72) - accent #2 (red)
rgb(52, 63, 86) - main text color (dark blue)
*/

.main-display {
    display: flex;
    
}
.images {
    display: flex;
}

.smaller-images {
    margin-left: 15px;
}

.side-bar {
    margin-right: 10px;


}
.sidebox {
    height: 135px;
    width: 200px;
    text-align: center;
    margin-bottom: 12px;
    border: 2px solid rgb(39, 12, 12);
}

body {
  margin: 40px;
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(245, 230, 202);
  color: rgb(52, 63, 86);
}

h1 {
    font-family: 'Righteous', cursive;
}

h3 {
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(251, 147, 0, .5);
    padding: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.btn {
    background-color: rgb(245, 71, 72);
    border-radius: 10px;
    padding: 10px;
}

.btn-quiz {
    font-size: 1rem;
}

#flights {
    margin-top: 12px;
}
.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

