/* 
rgb(245, 230, 202) - background color (tan)
rgb(251, 147, 0) - accent #1 (orange)
rgb(245, 71, 72) - accent #2 (red)
rgb(52, 63, 86) - main text color (dark blue)
*/
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(245, 230, 202);
    color: rgb(52, 63, 86);
  }

header {
    background-color: rgba(251, 147, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#category-container {
    background-color: rgba(251, 147, 0, .3);
    border-radius: 0.5rem;
    padding: 0 0.25rem;
}

.category {
    background-color: rgba(251, 147, 0, .4);
    border-radius: 0.5rem;
}

li:hover {
    background-color: rgba(251, 147, 0, .3);
    font-weight: 700;
}

h1 {
    font-family: 'Righteous', cursive;
    
}

h3 {
    text-align: center;
    font-weight: 700;
    padding: 0.5rem 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    padding: 0.5rem 0;
}

.btn {
    background-color: rgb(245, 71, 72);
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.btn:hover {
    background-color: rgba(245, 71, 72, 0.5);
}